@model Ecomerce.Models.Pais

@{
    ViewData["Title"] = "Detalhes do País";
}

<h1><i class="fa-solid fa-globe"></i> Detalhes do País</h1>

<br />

<div class="alert alert-secondary" role="alert">

    <h4>@Html.DisplayFor(model => model.PaisNome)</h4>

    <hr>

    <div class="col-md-8">

        <dl class="row">

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PaisNome)
            </dt>
            <dd class="col-sm-9">
                <i class="fa-solid fa-font"></i> @Html.DisplayFor(model => model.PaisNome)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PaisNomeIngles)
            </dt>
            <dd class="col-sm-9">
                <i class="fa-solid fa-earth-americas"></i> @Html.DisplayFor(model => model.PaisNomeIngles)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PaisIsoCodigo)
            </dt>
            <dd class="col-sm-9">
                <i class="fa-solid fa-people-arrows"></i> @Html.DisplayFor(model => model.PaisIsoCodigo)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PaisCodigo)
            </dt>
            <dd class="col-sm-9">
                <i class="fa-solid fa-barcode"></i> @Html.DisplayFor(model => model.PaisCodigo)
            </dd>            
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PaisMoeda)
            </dt>
            <dd class="col-sm-9">
                <i class="fa-solid fa-coins"></i> @Html.DisplayFor(model => model.PaisMoeda)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PaisMoedaAbrev)
            </dt>
            <dd class="col-sm-9">
                <i class="fa-solid fa-coins"></i> @Html.DisplayFor(model => model.PaisMoedaAbrev)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd class="col-sm-9">
                <i class="fa-solid fa-square-plus"></i> @Model.Created.ToString("dd/MM/yyyy HH:MM")
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Updated)
            </dt>
            <dd class="col-sm-9">
                <i class="fa-solid fa-arrows-rotate"></i> @Model.Updated.ToString("dd/MM/yyyy HH:MM")
            </dd>
        </dl>

    </div>



</div>

<hr />

<div>
    <a class="btn btn-dark" title="Atualizar as informações." asp-action="Edit" asp-route-id="@Model?.PaisId"><i class="fa-sharp fa-solid fa-pencil"></i> Atualizar</a> &nbsp;
    <a class="btn btn-warning" title="Retornar a lista de Paises."  asp-action="Index"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a>
</div>

<hr />