@model Ecomerce.Models.Endereco

@{
    ViewData["Title"] = "Detalhes do endereço";    
}

<h1><i class="fa-solid fa-signs-post"></i> Detalhes do Endereço</h1>

<br />

<div id="alert" class="alert alert-secondary" role="alert">
    <h3>Cliente:</h3>
    <hr />
    CPF|CNPJ: <b>@Ecomerce.Extensions.Helpers.FormatarCpfCnpj(Model.Cliente.CpfCnpj)</b><br />
    Nome: <b>@Model.Cliente.Nome</b><br />
    Razão Scocial: <b>@Model.Cliente.NomeRazaoSoc</b><br />
    Contatos Celular: <b>@Ecomerce.Extensions.Helpers.FormatPhone(@Model.Cliente.TelefoneFixo)</b>)<br />
    Contato Fixo: <b>@Ecomerce.Extensions.Helpers.FormatPhone(@Model.Cliente.TelefoneFixo)</b> <br />
</div>

<hr />

<div id="alert" class="alert alert-secondary" role="alert">
    <h3>Endereço:</h3>
    <hr />
    @if(Model.Numero == 0 || Model.Numero == null)
    {
        @("CEP:") <b>@Ecomerce.Extensions.Helpers.FormatarCep(Model.Cep)</b> @(" Logradouro:") <b>@Model.Logradouro</b> @("Nuúmero:") <b>S/N</b> @("Bairro:")<b> @Model.Bairro</b>@(".")<br />
    }
    else
    {
        @("CEP:") <b>@Ecomerce.Extensions.Helpers.FormatarCep(Model.Cep)</b> @(" Logradouro:")<b>@Model.Logradouro</b> @("Nuúmero:") <b>S/N.</b> @("Bairro:")<b> @Model.Bairro</b>@(".")<br />
    }
    
    Complemento: <b>@Model.Complemento</b><br />
    Informações de Entrega: <b>@Model.InformacaoReferencia</b><br />    
    Cidade: <b>@Model.Cidade.CidadeNome - @Model.Cidade.Estado.EstadoSigla</b><br />
    @if(Model.EnderecoPrincipal == true)
    {
        @("Endereço Principal: ") <b><i class="fa-solid fa-toggle-on"></i></b><br />
    }
    else
    {
        @("Endereço Principal: ") <b><i class="fa-solid fa-toggle-off"></i></b><br />
    }   
    @if (Model.Ativo == true)
    {
        @("Endereço Principal: ") <b><i class="fa-solid fa-square-check"></i></b><br />
    }
    else
    {
        @("Endereço Principal: ") <b><i class="fa-regular fa-square"></i></b><br />
    }    
    Criado em: <b>@Model.Created</b><br />
    Atualizado em: <b>@Model.Updated</b><br />
</div>

<hr />

<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model?.EnderecoId"><i class="fa-sharp fa-solid fa-pencil"></i> Atualizar</a> &nbsp;
    <a class="btn btn-warning" asp-action="Index"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a>
</div>

<hr />