@model Ecomerce.Models.Estado

@{
    ViewData["Title"] = "Excluir Estado";
}

<h1 class="text-danger"<i class="fa-solid fa-globe"></i> <i class="fa fa-trash"></i> Exclusão de Estado</h1>

<br />

<div class="alert alert-secondary" role="alert">

    <h4>@Html.DisplayFor(model => model.EstadoNome) - @Html.DisplayFor(model => model.EstadoSigla)</h4>

    <hr>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoSigla)
        </dt>
        <dd class="col-sm-10">
            <i class="fa-solid fa-map-location-dot"></i> @Html.DisplayFor(model => model.EstadoSigla)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoNome)
        </dt>
        <dd class="col-sm-10">
            <i class="fa-solid fa-map-location-dot"></i> @Html.DisplayFor(model => model.EstadoNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class="col-sm-10">
            <i class="fa-solid fa-globe"></i> @Html.DisplayFor(model => model.Pais.PaisNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            <i class="fa-solid fa-square-plus"></i> @Model.Created.ToString("dd/MM/yyyy HH:MM")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class="col-sm-10">
            <i class="fa-solid fa-arrows-rotate"></i> @Model.Updated.ToString("dd/MM/yyyy HH:MM")
        </dd>
    </dl>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Exclusão de registro!</strong> Têm certeza que deseja excluir o Estado acima, esta ação não poderá ser desfeita!
</div>

<hr />

<form asp-action="Inativar" asp-route-id="@Model.EstadoId">
    <input type="hidden" asp-for="@Model.EstadoId" />
    <button type="submit" class="btn btn-dark"><i class="fa-regular fa-square"></i> Inativar </button>
    &nbsp; <i class="fa-solid fa-circle-arrow-left"></i> <font color="red" size="4"><b>Considere inativar o registro.</b></font>
</form>

<hr />

<form asp-action="Delete">
    <input type="hidden" asp-for="EstadoId" />
    <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Excluir</button> &nbsp;
    <a class="btn btn-warning" asp-action="Index"><i class="fa fa-reply" aria-hidden="true"></i> Voltar a lista</a>
</form>

<hr />

